/* Hide "On GitHub" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
}

.wy-breadcrumbs-aside { display: none !important;}

/* Gets rid of the top breadcrumb */
.wy-breadcrumbs { display: none; }

.wy-side-nav-search { background-color: #69090D !important; }

/* this isn't working and I don't know why -- will revisit later
  More specifically, it's making the ENTIRE sidebar change colors -- so just
  need to find the right element.
*/
/* .active, .wy-menu-vertical:hover {
    background-color: #69090D !important;
}
*/

/* Centering definition - used by the main graphic */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tab { margin-left: 24px !important; }

/* Change the color of the menu section headings */
.caption-text { color: #ea941a !important; }

/* Change the color of the expander + sign */
.toctree-expand { color: #dd0031 !important; }

/* Gets rid of the gutters on each side -- default is 800px */
.wy-nav-content { max-width: 1200px !important; }

/* style code blocks */
code {color: blue; !important}

.rst-content code {
    color: blue !important;
}

.rst-content tt {
    color: blue !important;
}

.rst-versions.rst-badge { display: none !important; }
.injected { display: none !important; }

/* Ditch the bottom nav buttons - option in theme isn't working */
/* .btn { display: none !important; }
.rst-badge .rst-versions .rst-versions.rst-badge { display: none !important; }
.rst-versions { visibility: hidden; }
*/

/* Implements fix for right-floated images spilling over into next section, 
  for example in /ui/horizon/login.md
*/
/* As described at https://www.w3schools.com/css/css_float_clear.asp */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header, .md-tabs {
  background : -moz-linear-gradient(0% 50% 0deg,rgba(105, 9, 13, 1) 0%,rgba(108, 10, 14, 1) 18%,rgba(117, 11, 17, 1) 30%,rgba(132, 14, 22, 1) 41%,rgba(154, 18, 29, 1) 50%,rgba(181, 23, 38, 1) 59%,rgba(215, 29, 49, 1) 67%,rgba(220, 30, 51, 1) 68%,rgba(220, 33, 50, 1) 75%,rgba(222, 43, 48, 1) 81%,rgba(224, 60, 45, 1) 86%,rgba(226, 84, 40, 1) 91%,rgba(230, 114, 33, 1) 96%,rgba(234, 148, 26, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(105, 9, 13, 1) 0%, rgba(108, 10, 14, 1) 18%, rgba(117, 11, 17, 1) 30%, rgba(132, 14, 22, 1) 41%, rgba(154, 18, 29, 1) 50%, rgba(181, 23, 38, 1) 59%, rgba(215, 29, 49, 1) 67%, rgba(220, 30, 51, 1) 68%, rgba(220, 33, 50, 1) 75%, rgba(222, 43, 48, 1) 81%, rgba(224, 60, 45, 1) 86%, rgba(226, 84, 40, 1) 91%, rgba(230, 114, 33, 1) 96%, rgba(234, 148, 26, 1) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(105, 9, 13, 1) ),color-stop(0.18,rgba(108, 10, 14, 1) ),color-stop(0.3,rgba(117, 11, 17, 1) ),color-stop(0.41,rgba(132, 14, 22, 1) ),color-stop(0.5,rgba(154, 18, 29, 1) ),color-stop(0.59,rgba(181, 23, 38, 1) ),color-stop(0.67,rgba(215, 29, 49, 1) ),color-stop(0.68,rgba(220, 30, 51, 1) ),color-stop(0.75,rgba(220, 33, 50, 1) ),color-stop(0.81,rgba(222, 43, 48, 1) ),color-stop(0.86,rgba(224, 60, 45, 1) ),color-stop(0.91,rgba(226, 84, 40, 1) ),color-stop(0.96,rgba(230, 114, 33, 1) ),color-stop(1,rgba(234, 148, 26, 1) ));
	background : -o-linear-gradient(0deg, rgba(105, 9, 13, 1) 0%, rgba(108, 10, 14, 1) 18%, rgba(117, 11, 17, 1) 30%, rgba(132, 14, 22, 1) 41%, rgba(154, 18, 29, 1) 50%, rgba(181, 23, 38, 1) 59%, rgba(215, 29, 49, 1) 67%, rgba(220, 30, 51, 1) 68%, rgba(220, 33, 50, 1) 75%, rgba(222, 43, 48, 1) 81%, rgba(224, 60, 45, 1) 86%, rgba(226, 84, 40, 1) 91%, rgba(230, 114, 33, 1) 96%, rgba(234, 148, 26, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(105, 9, 13, 1) 0%, rgba(108, 10, 14, 1) 18%, rgba(117, 11, 17, 1) 30%, rgba(132, 14, 22, 1) 41%, rgba(154, 18, 29, 1) 50%, rgba(181, 23, 38, 1) 59%, rgba(215, 29, 49, 1) 67%, rgba(220, 30, 51, 1) 68%, rgba(220, 33, 50, 1) 75%, rgba(222, 43, 48, 1) 81%, rgba(224, 60, 45, 1) 86%, rgba(226, 84, 40, 1) 91%, rgba(230, 114, 33, 1) 96%, rgba(234, 148, 26, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#69090D', endColorstr='#EA941A' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(105, 9, 13, 1) 0%, rgba(108, 10, 14, 1) 18%, rgba(117, 11, 17, 1) 30%, rgba(132, 14, 22, 1) 41%, rgba(154, 18, 29, 1) 50%, rgba(181, 23, 38, 1) 59%, rgba(215, 29, 49, 1) 67%, rgba(220, 30, 51, 1) 68%, rgba(220, 33, 50, 1) 75%, rgba(222, 43, 48, 1) 81%, rgba(224, 60, 45, 1) 86%, rgba(226, 84, 40, 1) 91%, rgba(230, 114, 33, 1) 96%, rgba(234, 148, 26, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69090D',endColorstr='#EA941A' , GradientType=1);
}

.inline-status-box {
  float: right;
  border: 1px solid #edebeb;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #edebeb;
  border-radius: 1em;
}

@media screen and (min-width: 100em) {
  html {
    font-size: 125%;
  }
}